{% extends "base.html" %}
{% block start %}
<nav>
            <ul>
                <li><a href="/create-task/">Create</a></li>
                <li><a href="/update-task/">Update</a></li>
                <li><a href="/delete-task/">Delete</a></li>
            </ul>
        </nav>
        <section class="content">
            <div style="display:none">
                {{tasks}}
            </div>
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Title</th>
                        <th>Content</th>
                    </tr>
                </thead>
                {% for task in tasks %}
                <tbody style="overflow-x: hidden">
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{task.title}}</td>
                        <td>{{task.content}}</td>
                    </tr>
                </tbody>
                {%endfor%}
            </table>
        </section>

{% endblock %}