<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Todo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h1>Todo App with <span><h1 style="color:#ff5349 ">Django</h1></span></h1>
            </div>
<!--            <img src="my-logo.png" alt="My Logo" class="my-logo">-->
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <section class="content">
            <form method="post" action="/delete-task/">
                {% csrf_token%}
                <div class="form-group">
                    <label for="exampleFormControlInput">Task ID</label>
                    <input name="id" type="text" class="form-control" id="exampleFormControlInput" placeholder="Enter task ID to delete">
                </div>
                <button type="submit" class="submit-button">Delete</button>
            </form>
        </section>
    </div>
</body>

</html>
