<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App with Django</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h1>Todo App with <span><h1 style="color:#ff5349 ">Django</h1></span></h1>
            </div>
            <br>
<!--            <img src="my-logo.png" alt="My Logo" class="my-logo">-->
        </header>


        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <section class="content">
        </section>
        <br>
        <form method="post" action="/create-task/">
            {% csrf_token %}
            <div class="form-group">
                <label  for="exampleFormControlInput">Title</label>
                <input name="title"type="text" class="form-control" id="exampleFormControlInput" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Content</label>
                <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter content"></textarea>
            </div>
            <button type="submit" class="submit-button">Create</button>
        </form>
    </div>
</body>

</html>