{% extends 'base.html' %}
{% block start %}
<div class="container">
    <header>
        <div>
            <h1> Todo App with <span><h1 style="color:#ff5349 ">Django</h1></span></h1>
        </div>
    </header>
    <section class="content">
        <form method="post" action="/update-task/{{id}}/">
            <div class="form-group">
                {% if messages %}
                {% for message in messages %}
                <div class="warning-alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% csrf_token %}

                <label for="exampleFormControlInput1">Title</label>
                <input type="text" name= 'title' value="{{task.title}}" class="form-control" id="exampleFormControlInput1" placeholder="Enter updated title">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea2">Content</label>
                <textarea class="form-control"  name="content" id="exampleFormControlTextarea2" rows="3" placeholder="Enter updated content">{{task.content}}</textarea>
            </div>
            <button type="submit" class="submit-button" style="font-size: 15px">Update</button>
            <a class="submit-button" href="/">Home</a>
            <a href="/logout/" class="submit-button">Sign out</a>

        </form>
    </section>
</div>
{% endblock%}