<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Todo App with Django</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>

<body>
    <div class="container">
           <span style="color:#ff5349"><b>Django</b></span>
           <span style="color:White"><b> Todo App</b></span>
        <p>Choose an option:</p>
        <a href="/login/" class="option-button">Login</a>
        <a href="/register/" class="option-button">Register</a>
    </div>
</body>

</html>
